.profile_img {
    height: 170px;
    width: 170px;
    border-radius: 100px;
    border: 6px solid white;
    position: absolute;
    top: 90px;
    left: 3%;
    background-size: cover;
}

.my_card_body {
    height: fit-content;
}

.vh-25 {
    height: 25vh;
}

body {
    background-color: rgba(243, 242, 239, 1)
}

.my_progress {
    height: 8px;
    width: 90%;
}


.profileImg {
    height: 28px;
    width: 28px;
    border-radius: 100px;
    position: absolute;
    background-size: cover;
}

.dropdown {
    margin-top: 1.5rem;
}

.dropdownMenu {
    position: relative;
    right: 800px;
}


.profileImgDropDown {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-size: cover;
}